# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
city_df = pd.read_csv("Output_Plots/cities.csv", index_col =0)
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Lorengau,100,PG,1608058018,79,-2.02,147.27,80.67,2.68
1,New Norfolk,99,AU,1608058019,66,-42.78,147.06,55.00,1.99
2,Santa Cruz de la Sierra,75,BO,1608057888,78,-17.80,-63.17,78.80,18.34
3,Nanortalik,0,GL,1608058022,87,60.14,-45.24,26.96,4.43
4,Acapulco de Juárez,75,MX,1608057745,58,16.86,-99.89,84.20,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
# Store latitude and longitude in locations
locations = city_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
rating = city_df["Humidity"].astype(float)

In [18]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
new_df = city_df.loc[(city_df["Max Temp"]>70)&(city_df["Max Temp"]>80)&(city_df["Wind Speed"]>10)&(city_df["Cloudiness"]==0)]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
hotel_df = new_df[["City","Country", "Lat", "Lng"]]

In [26]:
hotel_df["Hotel Name"]=""
hotel_df

c:\users\colep\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                  City Country    Lat    Lng Hotel Name
18     Arraial do Cabo      BR -22.97 -42.03
290              Pemba      MZ -12.97  40.52
307  São João da Barra      BR -21.64 -41.05
372           Vallenar      CL -28.57 -70.76
425           San Luis      AR -33.30 -66.34
507       Keetmanshoop     NaN -26.58  18.13
521             Ovalle      CL -30.60 -71.20

In [27]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

c:\users\colep\anaconda3\envs\pythondata\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

                  City Country    Lat    Lng               Hotel Name
18     Arraial do Cabo      BR -22.97 -42.03      Pousada Porto Praia
290              Pemba      MZ -12.97  40.52      Guesthouse Samotina
307  São João da Barra      BR -21.64 -41.05  Pousada Porto De Canoas
372           Vallenar      CL -28.57 -70.76  Humacao Bed & Breakfast
425           San Luis      AR -33.30 -66.34            Huarpes Hotel
507       Keetmanshoop     NaN -26.58  18.13    Quiver Inn Guesthouse
521             Ovalle      CL -30.60 -71.20     Hotel Altos de Tuqui

In [28]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))